$side-padding: 1.5rem;

/* weather color section, can be re-use in multiple places*/
$color-contrast: white;
$color-clear: #fdd020;
$color-partlycloudy: #6bd5f5;
$color-mostlycloudy: #236174;
$color-rain: #426c7a;
$color-hazy: #c1dbe2;
$color-fog: #8da6ad;